<div class="row" id="Info">
	<div class="small-12 large-12 columns">
		<div class="row">
			<div class="small-12 large-12 columns Persons">
				<table class="small-12 large-12 columns">
					<tr>
						<td class="small-4 large-4 columns"><h6>Election Name </h6></td>
						<td class="small-8 large-8 columns" id = "ChairPerson">{{election.name}}th Loksabha</td>
					</tr>
					<tr>
						<td class="small-4 large-4 columns"> <h6>Election Year</h6></td>
						<td class="small-8 large-8 columns"> <a href="#/election/{{election.year}}">{{election.year}}</a> 
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>