	<div class="row" id="Info">
		<div class="small-12 large-12 columns" id="State_info">
			<div class="row">
				<div class="small-12 large-12 columns Persons">
					<table class="small-12 large-12 columns">
						<tr>
							<td ><h6 class="fn" >State Name </h6></td><td class="divider"></td><td id = "ChairPerson"> <a href="#">{{state.name}}</a></td>
						</tr>
						<tr>
							<td ><h6 class="fn">Major Party</h6></td><td class="divider"></td><td> <a href="#">{{state.majorParty}}</a> 
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>